USE [MakeApp]
GO
/****** Object:  Table [dbo].[Marque]    Script Date: 05/14/2020 01:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marque](
	[idMarque] [int] NOT NULL,
	[NomMarque] [varchar](50) NULL,
	[pourcentage] [int] NULL,
 CONSTRAINT [PK_Marque] PRIMARY KEY CLUSTERED 
(
	[idMarque] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Marque] ([idMarque], [NomMarque], [pourcentage]) VALUES (1, N'Niviea', 20)
/****** Object:  Table [dbo].[Client]    Script Date: 05/14/2020 01:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[Prenom] [varchar](50) NULL,
	[Nom] [varchar](50) NULL,
	[Mail] [varchar](50) NOT NULL,
	[Tel] [int] NULL,
	[Pass] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Client] ([Prenom], [Nom], [Mail], [Tel], [Pass]) VALUES (N'kawtar', N'lmr9a', N'kawtar@kawtar.com', 456789122, N'1')
INSERT [dbo].[Client] ([Prenom], [Nom], [Mail], [Tel], [Pass]) VALUES (N'manal', N'bouzrou', N'manal@manal.com', 123456789, N'1')
INSERT [dbo].[Client] ([Prenom], [Nom], [Mail], [Tel], [Pass]) VALUES (N'sara', N'lghwat', N'sara@sara.com', 234567891, N'1')
/****** Object:  Table [dbo].[Artist]    Script Date: 05/14/2020 01:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artist](
	[Prenom] [varchar](50) NULL,
	[Nom] [varchar](50) NULL,
	[Mail] [varchar](50) NOT NULL,
	[Tel] [int] NULL,
	[Pass] [varchar](50) NULL,
	[Admin] [int] NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Artist] ([Prenom], [Nom], [Mail], [Tel], [Pass], [Admin]) VALUES (N'Houda', N'Baklawa', N'houda@houda.com', 123456789, N'1', 0)
/****** Object:  Table [dbo].[RDV]    Script Date: 05/14/2020 01:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RDV](
	[idRdv] [int] IDENTITY(1,1) NOT NULL,
	[DateRdv] [date] NULL,
	[HeurRdv] [time](0) NULL,
	[DescriptionRdv] [varchar](50) NULL,
	[MailFrom] [varchar](50) NULL,
	[idMarque] [int] NULL,
 CONSTRAINT [PK_RDV] PRIMARY KEY CLUSTERED 
(
	[idRdv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RDV] ON
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque]) VALUES (1, CAST(0xA3400B00 AS Date), CAST(0x00A08C0000000000 AS Time), N'je veux un rendezvouz', N'manal@manal.com', 1)
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque]) VALUES (2, CAST(0xC2400B00 AS Date), CAST(0x00A08C0000000000 AS Time), N'asd', N'sara@sara.com', 1)
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque]) VALUES (3, CAST(0xDF400B00 AS Date), CAST(0x00A08C0000000000 AS Time), N'zxc', N'manal@manal.com', 1)
SET IDENTITY_INSERT [dbo].[RDV] OFF
/****** Object:  Table [dbo].[Choisie]    Script Date: 05/14/2020 01:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Choisie](
	[idRdv] [int] NOT NULL,
	[MailArtist] [varchar](50) NOT NULL,
	[Choisie] [int] NULL,
	[Finished] [int] NULL,
 CONSTRAINT [PK_Choisie] PRIMARY KEY CLUSTERED 
(
	[idRdv] ASC,
	[MailArtist] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Choisie] ([idRdv], [MailArtist], [Choisie], [Finished]) VALUES (1, N'houda@houda.com', 1, 1)
INSERT [dbo].[Choisie] ([idRdv], [MailArtist], [Choisie], [Finished]) VALUES (2, N'houda@houda.com', 1, 0)
INSERT [dbo].[Choisie] ([idRdv], [MailArtist], [Choisie], [Finished]) VALUES (3, N'houda@houda.com', 1, 1)
/****** Object:  ForeignKey [FK_Choisie_Artist]    Script Date: 05/14/2020 01:23:55 ******/
ALTER TABLE [dbo].[Choisie]  WITH CHECK ADD  CONSTRAINT [FK_Choisie_Artist] FOREIGN KEY([MailArtist])
REFERENCES [dbo].[Artist] ([Mail])
GO
ALTER TABLE [dbo].[Choisie] CHECK CONSTRAINT [FK_Choisie_Artist]
GO
/****** Object:  ForeignKey [FK_Choisie_RDV]    Script Date: 05/14/2020 01:23:55 ******/
ALTER TABLE [dbo].[Choisie]  WITH CHECK ADD  CONSTRAINT [FK_Choisie_RDV] FOREIGN KEY([idRdv])
REFERENCES [dbo].[RDV] ([idRdv])
GO
ALTER TABLE [dbo].[Choisie] CHECK CONSTRAINT [FK_Choisie_RDV]
GO
/****** Object:  ForeignKey [FK_RDV_Client]    Script Date: 05/14/2020 01:23:55 ******/
ALTER TABLE [dbo].[RDV]  WITH CHECK ADD  CONSTRAINT [FK_RDV_Client] FOREIGN KEY([MailFrom])
REFERENCES [dbo].[Client] ([Mail])
GO
ALTER TABLE [dbo].[RDV] CHECK CONSTRAINT [FK_RDV_Client]
GO
/****** Object:  ForeignKey [FK_RDV_Marque]    Script Date: 05/14/2020 01:23:55 ******/
ALTER TABLE [dbo].[RDV]  WITH CHECK ADD  CONSTRAINT [FK_RDV_Marque] FOREIGN KEY([idMarque])
REFERENCES [dbo].[Marque] ([idMarque])
GO
ALTER TABLE [dbo].[RDV] CHECK CONSTRAINT [FK_RDV_Marque]
GO
