USE [MakeApp]
GO
/****** Object:  Table [dbo].[Marque]    Script Date: 05/14/2020 20:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marque](
	[idMarque] [int] NOT NULL,
	[NomMarque] [varchar](50) NULL,
	[pourcentage] [int] NULL,
 CONSTRAINT [PK_Marque] PRIMARY KEY CLUSTERED 
(
	[idMarque] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Marque] ([idMarque], [NomMarque], [pourcentage]) VALUES (1, N'alpha', 20)
INSERT [dbo].[Marque] ([idMarque], [NomMarque], [pourcentage]) VALUES (2, N'beta', 50)
INSERT [dbo].[Marque] ([idMarque], [NomMarque], [pourcentage]) VALUES (3, N'meta', 10)
/****** Object:  Table [dbo].[Client]    Script Date: 05/14/2020 20:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[Prenom] [varchar](50) NULL,
	[Nom] [varchar](50) NULL,
	[Mail] [varchar](50) NOT NULL,
	[Tel] [int] NULL,
	[Pass] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 05/14/2020 20:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Prenom] [varchar](50) NULL,
	[Nom] [varchar](50) NULL,
	[Mail] [varchar](50) NOT NULL,
	[Tel] [int] NULL,
	[Pass] [varchar](50) NULL,
	[img] [image] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([Prenom], [Nom], [Mail], [Tel], [Pass], [img], [Type]) VALUES (N'houda', N'lbid', N'houda@houda.com', 623456789, N'1', NULL, 1)
INSERT [dbo].[Account] ([Prenom], [Nom], [Mail], [Tel], [Pass], [img], [Type]) VALUES (N'manal', N'bouzrou', N'manal@manal.com', 612345678, N'1', NULL, 2)
INSERT [dbo].[Account] ([Prenom], [Nom], [Mail], [Tel], [Pass], [img], [Type]) VALUES (N'mouna', N'fdiha', N'mouna@mouna.com', 687654321, N'1', NULL, 1)
/****** Object:  Table [dbo].[RDV]    Script Date: 05/14/2020 20:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RDV](
	[idRdv] [int] IDENTITY(1,1) NOT NULL,
	[DateRdv] [date] NULL,
	[HeurRdv] [time](0) NULL,
	[DescriptionRdv] [varchar](50) NULL,
	[MailFrom] [varchar](50) NULL,
	[idMarque] [int] NULL,
	[typeMaquillage] [varchar](100) NULL,
 CONSTRAINT [PK_RDV] PRIMARY KEY CLUSTERED 
(
	[idRdv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RDV] ON
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque], [typeMaquillage]) VALUES (2, CAST(0x46410B00 AS Date), CAST(0x00F88E0000000000 AS Time), N'je veux un rdv', N'manal@manal.com', 1, N'Fête')
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque], [typeMaquillage]) VALUES (3, CAST(0x66410B00 AS Date), CAST(0x0024900000000000 AS Time), N'aussi', N'sara@sara.com', 1, N'Fête')
INSERT [dbo].[RDV] ([idRdv], [DateRdv], [HeurRdv], [DescriptionRdv], [MailFrom], [idMarque], [typeMaquillage]) VALUES (4, CAST(0x91410B00 AS Date), CAST(0x0074210100000000 AS Time), N'tesst', N'manal@manal.com', 1, N'Fête')
SET IDENTITY_INSERT [dbo].[RDV] OFF
/****** Object:  Table [dbo].[Choisie]    Script Date: 05/14/2020 20:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Choisie](
	[idRdv] [int] NOT NULL,
	[MailArtist] [varchar](50) NOT NULL,
	[Finished] [int] NULL,
 CONSTRAINT [PK_Choisie] PRIMARY KEY CLUSTERED 
(
	[idRdv] ASC,
	[MailArtist] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Choisie] ([idRdv], [MailArtist], [Finished]) VALUES (4, N'houda@houda.com', 1)
INSERT [dbo].[Choisie] ([idRdv], [MailArtist], [Finished]) VALUES (5, N'houda@houda.com', 0)
/****** Object:  ForeignKey [FK_Choisie_Artist]    Script Date: 05/14/2020 20:58:38 ******/
ALTER TABLE [dbo].[Choisie]  WITH CHECK ADD  CONSTRAINT [FK_Choisie_Artist] FOREIGN KEY([MailArtist])
REFERENCES [dbo].[Account] ([Mail])
GO
ALTER TABLE [dbo].[Choisie] CHECK CONSTRAINT [FK_Choisie_Artist]
GO
/****** Object:  ForeignKey [FK_Choisie_RDV]    Script Date: 05/14/2020 20:58:38 ******/
ALTER TABLE [dbo].[Choisie]  WITH CHECK ADD  CONSTRAINT [FK_Choisie_RDV] FOREIGN KEY([idRdv])
REFERENCES [dbo].[RDV] ([idRdv])
GO
ALTER TABLE [dbo].[Choisie] CHECK CONSTRAINT [FK_Choisie_RDV]
GO
/****** Object:  ForeignKey [FK_RDV_Account]    Script Date: 05/14/2020 20:58:38 ******/
ALTER TABLE [dbo].[RDV]  WITH CHECK ADD  CONSTRAINT [FK_RDV_Account] FOREIGN KEY([MailFrom])
REFERENCES [dbo].[Account] ([Mail])
GO
ALTER TABLE [dbo].[RDV] CHECK CONSTRAINT [FK_RDV_Account]
GO
/****** Object:  ForeignKey [FK_RDV_Marque]    Script Date: 05/14/2020 20:58:38 ******/
ALTER TABLE [dbo].[RDV]  WITH CHECK ADD  CONSTRAINT [FK_RDV_Marque] FOREIGN KEY([idMarque])
REFERENCES [dbo].[Marque] ([idMarque])
GO
ALTER TABLE [dbo].[RDV] CHECK CONSTRAINT [FK_RDV_Marque]
GO
